body {
    background-color:rgba(127, 213, 216, 0.152)
}

h1 {
    text-align: center;
    font-family: 'Kristi', cursive;
font-size: 100px;
}

#introduction {
    text-align: center;
    font-size: 32px;
margin: 50px 500px;
}

.containerMovie {
    border: black 1px solid;
    width: 1500px;
    height: 400px;
}

.card:hover{
    opacity: 50%;
}

img {
    height: 200px;
}