
  
.background {
    background-image: url("../Media/tvbrickwall.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
}

#big-letter {
    font-size: 60px;
}

.text-options {
    color: white; 
    height: 600px;
    width: 800px;
    display: inline-block;
    flex-direction: row;
}

.name-and-dropdown{
    /* display: inline-block; */
}

.movie-option{
    font-family: 'Fredericka the Great', cursive;
    font-size: 35px;
}

.dropdown {
    margin-left: 250px;
}
